body, html {
    height: 100%;
    margin: 0;
    font-family: sans-serif;
}

body {
    background: radial-gradient(circle, #ffffff 50%, #e6e9f0 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden; /* Nasconde le parti delle immagini che fuoriescono */
}

body::before, body::after {
    content: '';
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

/* Fiore in alto a destra */
body::before {
    background-image: url('https://www.svgrepo.com/show/24451/floral-design.svg');
    width: 250px;
    height: 250px;
    top: -40px;
    right: -40px;
    transform: rotate(10deg);
}

/* Fiore in basso a sinistra */
body::after {
    background-image: url('https://www.svgrepo.com/show/115436/floral-design.svg');
    width: 250px;
    height: 250px;
    bottom: -50px;
    left: -50px;
    transform: rotate(-15deg);
}

.container {
    position: relative;
    z-index: 2;
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5); /* Sfondo leggermente traslucido per una migliore leggibilità */
    border-radius: 10px;
    max-width: 600px;
}